* {
    margin: 0;
    padding: 0;
    color: white;
}

.barlowCondensed {
    font-family: "Barlow Condensed", serif;
}

.barlow {
    font-family: 'Barlow';
}

.upperCase {
    text-transform: uppercase;
}

.lighter {
    font-weight: lighter;
}

#mainDiv {
    height: 90vh;
    width: 100vw;
    padding-top: 25vh;
    background-image: url('../assets/destination/background-destination-desktop.jpg');
}

#contBoth {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstCont {
    width: 35vw;
    /* border: 1px dotted lightgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#firstCont p {
    font-size: 1.6vw;
    font-family: 'Barlow Condensed';
    letter-spacing: .3vw;
    text-transform: uppercase;
}

#firstCont p span {
    letter-spacing: .1vw;
    padding-right: .5vw;
    color: gray;
}

#firstCont img {
    padding-top: 10vh;
    padding-left: 3vw;
    aspect-ratio: 1;
    width: 29vw;
}

#secCont {
    width: 31vw;
    height: 50vh;
    /* border: 1px dotted lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 9vw;
}

#destItem h1 {
    font-family: 'Bellefair';
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: lighter;
    padding-bottom: 3vh;
}

#destItem p {
    font-size: 1.2vw;
    font-family: 'Barlow';
    line-height: 4.0vh;
    font-weight: lighter;
}

#destSelCont {
    position: relative;
    right: 2vw;
    padding-bottom: 4.2vh;
}

a {
    height: 7vh;
}

ul {
    display: flex;
    flex-direction: row;
}

#contForLine {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top: 6vh;
    margin-bottom: 3vh;
}

#statsCont {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 90%;
}

#statsCont div p:first-child {
    text-transform: uppercase;
}

#travelCont {
    padding-left: 8vw;
}