* {
    margin: 0;
    padding: 0;
    color: white;
}

.barlowCondensed {
    font-family: "Barlow Condensed", serif;
}

.barlow {
    font-family: 'Barlow';
}

.upperCase {
    text-transform: uppercase;
}

.lighter {
    font-weight: lighter;
}

#mainDiv {
    height: 90vh;
    width: 100vw;
    padding-top: 30vh;
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    background-position: bottom;
    background-size: cover;
}

#contBoth {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#firstCont {
    width: 35vw;
    /* border: 1px dotted lightgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#firstCont p {
    font-size: 1.6vw;
    font-family: 'Barlow Condensed';
    letter-spacing: .3vw;
    text-transform: uppercase;
}

#firstCont p span {
    letter-spacing: .1vw;
    padding-right: .5vw;
    color: gray;
}

#firstCont img {
    padding-top: 10vh;
    padding-left: 3vw;
    aspect-ratio: 1;
    width: 29vw;
}

#secCont {
    width: 31vw;
    height: 70vh;
    /* border: 1px dotted lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 9vw;
}

#destItem h1 {
    font-family: 'Bellefair';
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: lighter;
    padding-bottom: 3vh;
}

#destItem p {
    font-size: 1.2vw;
    font-family: 'Barlow';
    line-height: 4.0vh;
    font-weight: lighter;
}

#destSelCont {
    position: relative;
    right: 2vw;
    padding-bottom: 4.2vh;
}

#destSelCont ul li a {
    height: 7vh;
}

#destSelCont ul {
    display: flex;
    flex-direction: row;
}

#contForLine {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top: 6vh;
    margin-bottom: 3vh;
}

#statsCont {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 90%;
}

#statsCont div p:first-child {
    text-transform: uppercase;
}

#travelCont {
    padding-left: 8vw;
}

/* tablet mode */
@media screen and (max-width: 1024px) and (max-height: 1366px) {

    #mainDiv {
        padding-top: 13vh;
        height: auto;
        background-attachment: fixed;

    }

    #contBoth {
        flex-direction: column;
        align-items: center;
    }

    #firstCont {
        width: 95vw;
        align-items: center;
    }

    #firstCont p {
        font-size: 3vw;
        align-self: flex-start;
    }

    #firstCont img {
        aspect-ratio: 1;
        width: 45vw;
        padding: 0;
        padding-top: 6vh;
    }

    #destSelCont {
        align-items: center;
        position: relative;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }

    #destSelCont ul {
        padding: 3vh 0vw;
        display: flex;
        justify-content: space-between;
        width: 45vw;
    }

    #destSelCont ul li a {
        height: 4vh;
        font-size: 2vw;
    }

    #destSelCont {
        padding-bottom: 1vh;
    }

    #destItem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #destItem p {
        text-align: center;
    }

    #secCont {
        margin: 0;
        align-items: center;
        height: auto;
    }

    #destItem h1 {
        font-size: 10vw;
    }

    #destItem p {
        width: 60vw;
        font-size: 3vw;
    }

    #contForLine {
        width: 80vw;
    }

    #statsCont {
        flex-direction: column;
        align-items: center;
    }

    #travelCont {
        padding: 4vh 0;
    }

    #travelCont p:first-child,
    #distCont p:first-child {
        font-size: 3.5vw;
    }
}

/* mobile mode */
@media screen and (max-width: 430px) and (max-height: 932px) {

    #mainDiv {
        padding-top: 18vh
    }

    #firstCont p {
        align-self: center;
        font-size: 4vw;
        letter-spacing: .7vw;
    }

    #destSelCont ul {
        /* background-color: lightcoral; */
    }

    #destSelCont ul {
        width: auto;
    }

    #destSelCont ul li a {
        font-size: 4vw;
        letter-spacing: .3vw;
        margin: 0vh 3vw;
        height: 7vh;
    }

    #contForLine {
        margin-bottom: 6vh;
    }

    #travelCont p:last-child,
    #distCont p:last-child {
        font-size: 6vw;
    }
}