#mainTech {
    background-image: url('../assets/technology/background-technology-desktop.jpg');
    background-position: bottom;
    background-size: cover;
    width: 90vw;
    height: 105vh;
    padding-top: 20vh;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* the total height is 120vh */
}


#firstTech {
    /* background-color: red; */
    display: flex;
    justify-content: start;
}

h2 {
    font-family: 'Barlow Condensed';
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: .15vw;
    font-size: 1.8vw;
}

h2 span {
    font-weight: bold;
    font-family: 'Barlow';
    font-size: 1.8vw;
    color: gray;
    padding-right: 1.7vw;
}

#secondTech {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#innerCont {
    display: flex;
    flex-direction: row;
    padding-top: 14vh;
}

#vehInfo {
    width: 33vw;
}

#vehInfo p:first-child {
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
    font-weight: lighter;
    font-size: 1.2vw;
    letter-spacing: .2vw;
    margin-bottom: 1vh;
}

#vehInfo h1 {
    font-family: 'Bellefair';
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 3.2vw;
    margin-bottom: 2vh;
}

#vehInfo p:last-child {
    font-family: 'Barlow';
    font-weight: lighter;
    line-height: 3.5vh;
    font-size: 1.2vw;
    width: 84%;
}


#theList {
    margin-right: 3vw;
}

#theList li a {
    display: flex;
    text-decoration: none;
    font-family: 'Bellefair';
    border-radius: 8vw;
    width: 6vw;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 2.5vw;
    font-weight: normal;
}

#theList li {
    list-style-type: none;
    margin: 1.8vw;
    margin-top: 0;
}

#vehImg img {
    width: 40vw;
}

.white1 {
    color: black;
    background-color: white;
    border: 0;
}

.gray1 {
    color: white;
    border: 1px solid white;
}

/* tablet mode */
@media screen and (max-width: 1024px) and (max-height: 1366px) {
    #mainTech {

        background-image: url('../assets/technology//background-technology-tablet.jpg');
        background-position: top;
        height: 100%;
        width: 100vw;
        padding-top: 12vh;
        padding-left: 0vw;
        justify-content: start;
    }

    #firstTech {
        padding-bottom: 3vh;
        padding-left: 4vw;
    }

    #firstTech h2 {
        font-size: 3vw;
    }

    h2 span {
        font-size: 2.9vw;
    }

    #secondTech {
        flex-direction: column-reverse;
    }

    #vehInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        text-align: center;
    }

    #vehInfo p:first-child {
        font-size: 2vw;
        letter-spacing: .3vw;
    }

    #vehInfo h1 {
        font-size: 6vw;
    }

    #vehInfo p:last-child {
        font-size: 2vw;
    }

    #vehImg img {
        width: 100vw;
    }

    #innerCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 7vh;
        padding-bottom: 8vh;
    }

    #theList {
        display: flex;
        flex-direction: row;
        margin-bottom: 4vh;
    }

    #theList li {
        margin: 1.8vw;
    }

    #theList li a {
        width: 10vw;
        font-size: 4vw;
    }
}

/* mobile mode  */
@media screen and (max-width: 430px) and (max-height: 932px) {

    #mainTech {
        padding-top: 15vh;
    }

    #innerCont {
        padding-top: 4vh;
    }

    #theList {
        margin-bottom: 2vh;
    }

    #firstTech {
        justify-content: center;
        position: relative;
        right: 3vw;
    }

    #firstTech h2 {
        font-size: 5vw;
    }

    #firstTech h2 span {
        font-size: 4.6vw;
    }

    #vehInfo p:first-child {
        font-size: 4vw;
        margin-bottom: 1.2vh;
    }

    #vehInfo h1 {
        font-size: 7.5vw;
        margin-bottom: 2vh;
    }

    #vehInfo p:last-child {
        width: 95%;
        font-size: 3.3vw;
    }

}