* {
    padding: 0;
    margin: 0;
}

#maincont {
    padding-top: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-image: url('../assets/home/background-home-desktop.jpg');
}

#toDo {
    width: 20vw;
    border: 1px solid red;
    padding: 1vw;
    margin: 0vh 2vw;
}



#tabHolder {
    border: 2px dotted black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#tabHolder,
#tabHolder img {
    width: 30vw;
    aspect-ratio: 1;
}

/* #tabHolder {
    width: 40vw;
    aspect-ratio: 1/1;
}

#tabHolder img {
    width: 30vw;
} */




#holder {
    background-color: rgba(144, 238, 144, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

#navigator {
    display: flex;
    background-color: lightblue;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#currTab,
#nextTab {
    position: relative;
}

#nextTab {
    right: 30vw;
}

/* Classes for animation*/



.vis {
    transform: translate(0, 0);
    transition: transform 0.75s cubic-bezier(0.57, 0, 0.25, 0.99);
}

.right {
    transform: translate(100%, 0%) scale(0.0);
    transition: transform 0.5s cubic-bezier(0.57, 0, 0.25, 0.99);
}

.left {
    transform: translate(-100%, 0%) scale(0.0);
    transition: transform 0.5s cubic-bezier(0.57, 0, 0.25, 0.99);

}