#topNav {
    position: absolute;
    height: auto;
    width: 100vw;
    background-color: rgba(255, 122, 122, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

#navList {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12vw;
    justify-content: start;
    /* overflow: hidden; */
}

#navList,
#navListInner {
    height: 11vh;
}

#navListInner li {
    height: 100%;
}

#navListInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}


#navListInner li a,
.boldNums {
    color: white;
    font-family: "Barlow Condensed", serif;
}

#navListInner li a {
    margin: 0vw 2vw;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: .4w;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    height: 100%;
}

#navListInner li a:focus {
    border-bottom: 3px solid white;
}


.boldNums {
    font-weight: bold;
    font-size: larger;
    padding-right: .5vw;
    display: flex;
    justify-content: center;
    /* for  4 links, it's 2vw */
}




#topRightCont {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.054);
}



#lineCont {
    display: block;
    position: relative;
    right: 38vw;
    bottom: 5.8vh;
    border-bottom: 1px solid rgb(66, 62, 78);
    width: 30vw;
}

#logoCont {
    padding: 3.2vw;
    background-color: rgba(255, 255, 255, 0);
}

#navBtn {
    display: none;
}


::-webkit-scrollbar {
    width: .8vw;
    background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb {
    border-radius: 1vw;
    background-color: rgb(104, 104, 104);
}

#wholeSideMenu {
    display: none;
}

/* tablet mode */
@media screen and (max-width: 1024px) and (max-height: 1366px) {

    #lineCont {
        display: none;
    }

    #logoCont {
        padding: 4vw;
    }

    #logoCont img {
        aspect-ratio: 1;
        height: 4vw;
    }

    #topNav,
    #topRightCont,
    #navList,
    #navListInner {
        height: 9vh;
        font-size: 1.9vw;
    }

    #navList {
        padding: 7vw;
    }

    #navListInner li a {
        font-size: 1.9vw;
        letter-spacing: .2vw;
    }

    #topRightCont {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .boldNums {
        display: none;
    }
}

/* mobile mode */
@media screen and (max-width: 430px) and (max-height: 932px) {


    #topNav {
        height: 16vh;
        width: auto;
        width: 100%;
    }

    #navBtn {
        display: block;
        padding: 3.2vw;
        z-index: 10;
    }

    #navBtn button {
        border: none;
        background-color: transparent;
        padding: 5vw;
    }

    #navBtn button:active img {
        filter: brightness(60%);
    }

    #logoCont img {
        aspect-ratio: 1;
        height: 10vw;
    }

    #topRightCont {
        backdrop-filter: none;
        background-color: inherit;
    }

    #blur {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.696);
        height: 100vh;
        width: 100vw;
        z-index: 0
    }

    .vis {
        visibility: visible;
    }

    .inVis {
        visibility: hidden;
    }

    #navList {
        overflow: visible;
        z-index: 9;
        background-color: rgb(31, 33, 47);
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 10vw;
        position: absolute;
        height: 100vh;
        width: 100vw;
        padding: 0;
        left: 0;
        justify-content: center;
        align-items: center;
    }

    #navListInner {
        flex-direction: column;

    }

    #navList,
    #navListInner {
        height: auto;
    }

    #navListInner {
        padding: 9vw;
        padding-top: 5vw;
    }

    #navListInner li h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3vw;
        padding-bottom: 9vw;
        font-size: 9vw;
        font-family: 'Barlow Condensed';
        font-weight: lighter;
    }

    h2 img {
        aspect-ratio: 1;
        height: 8vw;
        margin-right: 5vw;
    }

    #navListInner li a {
        height: 8vh;
        font-size: 4.5vw;
        color: rgb(224, 224, 224);
    }

    .up {
        will-change: top;
        top: 0;
        transition: top cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    }

    .normal {
        will-change: top;
        top: -100vh;
        transition: top cubic-bezier(0.215, 0.610, 0.355, 1) .7s;

    }

}