.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


#topNav {
    position: absolute;
    height: auto;
    width: 100vw;
    background-color: rgba(255, 122, 122, 0);
    display: flex;
    justify-content: space-between;
}

#navList {
    /* width: 50vw; */
    padding-left: 12vw;
    justify-content: start;
    overflow: hidden;
}

#navList,
#navListInner,
a {
    height: 11vh;
}

#navListInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

a,
.boldNums {
    font-family: "Barlow Condensed", serif;
}

a {
    margin: 0vw 2vw;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4vw;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: .4w;
    text-transform: uppercase;
}

li {
    display: flex;
    align-items: center;
}

.boldNums {
    font-weight: bold;
    font-size: larger;
    padding-right: .5vw;
    display: flex;
    justify-content: center;
    /* for  4 links, it's 2vw */
}

a,
a:active {
    color: white;
    text-decoration: none;

}

a:focus {
    color: white;
    border-bottom: 3px solid rgb(255, 255, 255);
}


#topRightCont {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.054);
}



#lineCont {
    display: block;
    position: relative;
    right: 38vw;
    bottom: 5.8vh;
    border-bottom: 1px solid rgb(66, 62, 78);
    width: 30vw;
}

#logoCont {
    padding: 3.2vw;
    background-color: rgba(255, 255, 255, 0);
}

#navBtn {
    display: none;
}


::-webkit-scrollbar {
    width: .8vw;
    background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb {
    border-radius: 1vw;
    background-color: rgb(104, 104, 104);
}

/* tablet mode */
@media screen and (max-width: 1024px) and (max-height: 1366px) {

    #lineCont {
        display: none;
    }

    #logoCont {
        padding: 4vw;
    }

    #logoCont img {
        aspect-ratio: 1;
        height: 4vw;
    }

    #topNav,
    #topRightCont,
    #navList,
    #navListInner,
    a {
        height: 9vh;
        font-size: 1.9vw;
    }

    #navList {
        padding: 7vw;
    }

    a {
        color: white;
    }

    #topRightCont {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .boldNums {
        display: none;
    }
}

/* mobile mode */
@media screen and (max-width: 430px) and (max-height: 932px) {

    #logoCont {}

    #topNav {
        height: 16vh;
        width: auto;
        width: 100%;
    }

    #navBtn {
        display: block;
        padding: 3.2vw;
    }

    #navBtn button {
        border: none;
        background-color: transparent;
        padding: 5vw;
    }

    #navBtn button:active img {
        filter: brightness(60%);
    }

    #logoCont img {
        aspect-ratio: 1;
        height: 10vw;
    }

    #topRightCont {
        backdrop-filter: none;
        background-color: inherit;
    }

    #navList {
        display: none;
    }


}